<div class = "container "  >
<body>
<h2 class = "textos"> Mapa de rayos</h2>
<hr>

<div class="row">
  <div class=""><p><h3> Datos solicitados:</h3></div>
  <div class=""><p>
   <p> Fecha:
   <p> Dirección:
  </div>
</div>

<div class="row">
<h3>Rayos más cercanos a la dirección solicitada:</h3>

<table>
  <tr>
    <th>Dia</th>
    <th>Hora</th>
    <th>Metros</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br>
<br>
<br>



<div class="row">
  <div class=""><p><h3> Información importante ¡¡¡¡</h3></div>
  <div class=""><p>
   <p> Los datos de los rayos y su localizacion 
   <p> Dirección:
  </div>
</div>


</div>
</body>
</div>